.reset-link-style
    text-decoration inherit
    &:link,
    &:active,
    &:visited
        color inherit
    &:hover
        text-decoration inherit
.app__display-none
    display none
.q-btn-no-hover-bg:hover
    .q-focus-helper
        background transparent !important
.reset-line-height
    line-height 1 !important
