.reset-link-style
    text-decoration: inherit;
    &:link
        color: inherit;
    &:visited
        color: inherit;
    &:hover
        text-decoration: inherit;
    &:active
        color: inherit;
.reset-line-height
    line-height 1 !important
