.reset-link-style
    text-decoration: inherit;
    &:link
        color: inherit;
    &:visited
        color: inherit;
    &:hover
        text-decoration: inherit;
    &:active
        color: inherit;
