.reset-link-style {
  text-decoration: inherit;
}
.reset-link-style:link {
  color: inherit;
}
.reset-link-style:visited {
  color: inherit;
}
.reset-link-style:hover {
  text-decoration: inherit;
}
.reset-link-style:active {
  color: inherit;
}

